

.cart-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-actions {
    margin-top: 20px;
}

#cart-table {
    width: 100%;
    border-collapse: collapse;
}

#cart-table th, #cart-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

#cart-table th {
    background-color: #f0f0f0;
}
.navbar-nav a:hover{
     color: red;
}
.userform{
    position: absolute;
    top: 110px;
    right: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 25px;
    display:none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width:350px;
    
}
.userform.show{
    display: flex;
}
.useform h2{
    font-size:25px;
}
.userform input{
    border:none;
    outline:none;
    padding:10px;
    font-size: 19px;
    box-shadow:3px 2px 2px 1px rgb(79, 77, 77);
    border-radius:5px;
    width:100%;

}
.login{
    background-color:rgb(56, 93, 224);
    color: hsl(0, 0%, 100%);
    font-size:20px;
    font-weight: bold;
    text-transform: uppercase;
    padding:7px;
    cursor: pointer;
    border:none;
    box-shadow:3px 2px 2px 1px rgba(232, 204, 204, 0.865);
} 
.userform p{
    font-size:18px;
}
.userform a{
    color:rgb(56, 93, 224);
    text-decoration: underline;
} 
#home{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    padding:70px 50px 0px 50px;
    gap:10%;
    height:100vh;
}
.formhead{
    font-family: "Roboto";
    font-size: 25px;
    color: Black;
    text-align: center;

}
.loginpos{
    border-radius: 8px;
    text-align: center;
    
}
.body{
    box-sizing: border-box;
}
.price{
    color: #183b56;
    font-family: "Roboto";
    font-size: 17px;
    list-style-type: none;
    font-weight: bold;
}
.card-section {
    background-color: #222b36;
    text-align: center;
}
.vrheader{
    color: white;
    font-family: "Roboto";
    font-size: 40px;
    font-weight: 500;  
    text-align: left;
}

.nv{
    position: fixed;
    top: 0;
    width: 100%;
}
.bb {
    color: white;
    border-color: white;
}
.view-color{
    color: white;
}
.head {
    color: #1f2933;
    font-family: "Roboto";
    font-weight: bold;
}

.card-section {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-products-headset-img.png");

    background-size: cover;
}
.card-section2 {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-products-headset-with-controllers-img.png");

    background-size: cover;
}
.card-section-2 {
    width: 100%;
    height: 600px;
    padding:20px;
}

.sub-head1 {
    color: white;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 500;
}
.sub-head {
    color: white;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 500;
    text-align: left;
}
.sub-para {
    color: white;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}

.sub-para1 {
    color: white;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
}

.bb1 {
    color: white;
    border-radius: 4px;
    background-color: transparent;
    padding: 5px;
    width:120px;
    height: 40px;
    border-width: 2px;
    font-size: 18px;
    border-style: solid;
    border-color: white;
}
.img {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.vrhead {
    color: #1f2933;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 700;
}

.vrpara {
    color: #7b8794;
    font-family: "Roboto";
    font-size: 20px;

}

.vrbuton {
    color: white;
    background-color: #1a2137;
    border-radius: 8px;
    height: 50px;
    width: 150px;

}

.contact-section {
    background-color: #0d2436;

    background-size: cover;
}

.main-head {
    color: #183b56;
    font-weight: bold;
    font-family: "Roboto";
}

.btn1 {
    border-radius: 5px;
    padding: 9px;
    height: 70px;
    width: 250px;
    border-color: #ff9f00;
    border-width: 5px;
    color: #ff9f00;
    font-size: 25px;
    font-weight: 700;
}

.help {
    color: #959ead;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
}

.footer-section {
    background-color: #0d2436;

    background-size: cover;
}


.logov-img {
    height: 100px;
    width: 250px;
}

.icons-card {
    background-color: #152c3e;
    padding: 5px;
    border-radius: 50px;
    margin: 5px;
}

.icon {
    color: #5a7184;
    font-size: 30px;
}

.loc {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 15px;
}

.sub-head {
    color: #5a7184;
    font-size: 20px;
    font-family: "Roboto";
    font-weight: bold;
}

.sub-list {
    color: #5a7184;
    font-size: 20px;
    font-family: "Roboto";
    list-style: none;
    margin-bottom: 5px;
}

.hr {
    border-color: #5a7184;
    border-width: 1px;
}

.elec-img {
    width: 100%;
    border-radius: 20px;
}

.electro-card {
    border-radius: 10px;
    padding: 15px;
}

.deals {
    color: #ff9f00;
    font-weight: bold;
    font-family: "Roboto";
    font-size: 23px;
    padding-left: 10px;
    padding-top: 0px;
}

.festive-offer-head {
    color: #183b56;
    font-weight: bold;
    font-family: "Roboto";
    font-size: 30px;
}

.offer-card {
    border-radius: 20px;

    width: 100%;
}

.white-card-head {
    color: #183b56;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 25px;
}

.smart-watch {
    font-family: "Roboto";
    font-size: 20px;
    color: black;
    font-weight: 500;
}

.white-card {
    background-color: white;
    border-radius: 15px;
    background-size: cover;
}

.exp-bg-container {
    background-color: #f5f7fa;
    background-size: cover;
}

.explore-head {
    font-weight: bold;
    font-family: "Roboto";
    color: #183b56;
}

.trend-head {
    color: #183b56;
    font-family: "Roboto";
    font-weight: bold;
}

.phn-bg-container {
    border-radius: 15px;
    background-image: url("https://res.cloudinary.com/dm3sbqpid/image/upload/v1703614107/Apple-iPhone-15-Pro-lineup-1_kbwgxr.jpg");
    background-size: cover;
}

.wat-bg-container {
    border-radius: 15px;
    background-image: url("https://res.cloudinary.com/dm3sbqpid/image/upload/v1703706917/HD-wallpaper-smartwatch-ma-noise-smart-watch_i8o7ka.jpg");
    height: 50vh;
    width: 50vw;
}
.{
    border-radius: 15px;
    background-image: url("");
    height: 50vh;
    width: 50vw;
}
.card-1 {
    background-color: white;

}

.sub-head {
    color: #959ead;
    font-size: 20px;
}

.dis-head {
    color: #183b56;
    font-size: 28px;
    font-weight: bold;
}

.dis-para {
    color: #959ead;
    font-size: 25px;
}

.read {
    color: #ff9f00;
    font-size: 20px;
    font-weight: bold;
}

.website-section {
    background-image: linear-gradient(to right, #f49541, #ad2167, #dd5d97);
    background-size: cover;
}

.img-size {
    height: 400px;
    width: 400px;
}

.main-head {
    
}
.joinhead{
    color: #5a7184;
    font-family: "Roboto";
    font-size: 30px;
    font-weight: bold;
}
.para {
    color: white;
    font-family: "Roboto";
    font-size: 25px;
}

.dis {
    color: white;
    font-family: "Roboto";
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

.bank {
    color: white;
    font-family: "Roboto";
    font-size: 10px;
    font-weight: bold;
}

.sp-1 {
    font-weight: bold;
    font-style: italic;
}

.sp-2 {
    color: yellow;
}

.modal-title {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
}

.modal-head {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 17px;
}

.list-para {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 17px;
}

.modal-sub {
    color: #183b56;
    font-family: "Roboto";
    font-size: 17px;
    list-style-type: none;
    font-weight: bold;
}

.main-head {
    color: #183b56;
    font-size: 30px;
    font-weight: bold;
}

.product-card {
    height: 328px;
    padding: 20px;
    border-radius: 16px;
}

.headphone-bg-container {
    border-radius: 15px;
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/ecommerce-products-headphones-bg.png");
    background-size: cover;
}

.lap-bg-container {
    border-radius: 15px;
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/ecommerce-products-laptops-bg.png");
    background-size: cover;
}
.watch-bg-container{
    border-radius: 15px;
    background-image: url("https://res.cloudinary.com/dm3sbqpid/image/upload/v1725292982/image_0901_lzybcd.webp");
    background-size: cover;
}

.product-head {
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-family: "Roboto";
}

.product-para {
    color: white;
    font-size: 15px;

    font-family: "Roboto";
}

.btn {
    border-radius: 30px;
    padding: 10px;
    height: 30px;
    width: 100px;
    background-color: white;
    color: #ff9f00;
    font-size: 10px;
    font-weight: bold;
}

.pro-head {
    color: white;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 36px;
}

.pro-para {
    color: white;
    font-family: "Roboto";
    font-size: 8px;
}

.img-size {
    height: 70px;
    width: 190px;
}

.navbar-option {
    color: black;
    font-weight: bold;
    

}

.service-head {
    color: #183b56;
    font-size: 36px;
    font-weight: bold;
    font-family: "Roboto";
}

.service-desc {
    color: #616c7c;
    font-family: "Roboto";
    font-size: 18px;

}

.Service-card {
    padding: 8px;
    margin: 25px;
}

.del-img {
    height: 100px;
    width: 100px;
}

.service-sub-head {
    color: #183b56;
    font-size: 25px;
    font-weight: bold;
    font-family: "Roboto";

}

.service-sub-para {
    color: #616c7c;
    font-family: "Roboto";
    font-size: 15px;
}

.pro-head {
    color: #183b56;
    font-size: 36px;
    font-weight: bold;
    font-family: "Roboto";
}

.main-head {
    color: #183b56;
    font-size: 30px;
    font-weight: bold;
}



.product-head {
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-family: "Roboto";
}

.product-para {
    color: white;
    font-size: 15px;

    font-family: "Roboto";
}

.btn {
    border-radius: 30px;
    padding: 10px;
    height: 30px;
    width: 100px;
    background-color: white;
    color: #ff9f00;
    font-size: 10px;
    font-weight: bold;
}
.nav-icons{
    padding:25px;

}
.searchbtn{
    border-color: white;
    background-color: white;
}
.banner-section {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-banner-bg.png");
    height: 100vh;
    background-size: cover;
    text-align: center;
}

.head {
    color: white;
    font-family: "Roboto";
    font-size: 25px;
    font-weight: bold;
}

.bb {
    border-radius: 4px;
    background-color: #1a2137;
    color: white;
    padding: 5px;
    margin: 5px;
}
.delivery-and-payment-section-img {
    width: 270px;
}
.navbg{
    background-color: #0d2436;
    background-size: cover;
}
.delivery-and-payment-section-heading {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 28px;
    color: #183b56;
}

.delivery-and-payment-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.payment-card-img {
    width: 50px;
    height: 50px;
    margin-right: 28px;
}

.thanking-customers-section {
    background-image: radial-gradient(#fff8db, #fae38c);
}

.thanking-customers-section-heading {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 28px;
    color: #183b56;
}

.thanking-customers-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}
.custom-button {
    width: 130px;
    height: 45px;
    color: white;
    background-color: #d0b200;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}

.thanking-customers-section-img {
    width: 270px;
    margin-bottom: 20px;
}